.contact-container {
  width: 100%;
  display: flex;
}

.contact-bckg {
  background-image: url(../assets/Background-Contact-Form.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  opacity: 50%;
}
