@import "./settings/fonts";
@import "./settings/colors";
@import "./homeheader";
@import "./home3columns";
@import "./home4columns";
@import "./onas";
@import "./ngos";
@import "./fundacje";
@import "./kontakt";
@import "./login";

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-base;
  background-color: $bckg-color;
  color: $font-color;
  margin: 0;
}
