@import "./settings/fonts";
@import "./settings/colors";
@import "./homeheader";
@import "./home3columns";

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-base;
  background-color: $bckg-color;
  color: $font-color;
  margin: 0;
}
